.input { @apply
   px-[calc(theme(space.2)_-_theme(space.px))]
   py-[calc(theme(space.1)_-_theme(space.px))] w-full
   bg-ferrum-3s
   hover:bg-ferrum-2s
   font-medium
   text-ferrum-2t
   placeholder:text-ferrum-6t
   border border-ferrum rounded
   hover:border-ferrum-7t
   focus:outline-none
   focus:border-cobalt-7t
   focus:ring-2 focus:ring-cobalt-7t
   transition-colors;
}
.status--error .input {
   @apply border-red-500 focus:ring-red-500;
}