@import "../../css/vars.scss";

:root {
   --input-b-width: var(--sp1);
   --input-v-padding: calc(var(--sp4) - var(--input-b-width));
   --input-h-padding: calc(var(--sp8) - var(--input-b-width));
}
.input {
   @include font-body(regular);
   width: 100%;
   border-style: solid;
   padding: var(--input-v-padding) var(--input-h-padding);
   border-radius: var(--border-radius-4);
   border-width: var(--input-b-width);
   background-color: var(--color-d8);
   border-color:     var(--color-d7);
   color:            var(--color-d2);
}
.input::placeholder {
   color:            var(--color-d4);
}
.input:hover {
   border-color:     var(--color-d5);
}
.input:focus-visible {
   border-color:     var(--color-b5);
   outline-color:    var(--color-b5);
   outline-style: solid;
   outline-width: var(--sp2);
}