.button {
   @apply
   flex gap-2 items-center
   px-2 py-1
   font-medium
   whitespace-nowrap text-left
   rounded
   duration-75
   active:transition-all
   active:scale-[0.99];
}
.button .helpText {
   @apply
   text-xs font-normal;
}
.button.icon-button {
   @apply p-1 active:scale-[0.97];
}
.button span {
   @apply p-0.5;
}

/* strong */
.button.variant--strong { @apply
                                          text-white
                                          bg-cobalt
                                          hover:bg-cobalt-9t
                                          active:bg-cobalt-8t;}
.button.variant--strong .helpText { @apply  text-cobalt-3t;}
.button.variant--strong.selected--true { @apply
                                          text-cobalt-3t
                                          bg-cobalt-5s
                                          hover:bg-cobalt-4s
                                          active:bg-cobalt-3s;}
.button.variant--strong.selected--true .helpText { @apply
                                          text-cobalt-5t;}

/* light */
.button.variant--light { @apply
                                          text-white
                                          bg-ferrum
                                          hover:bg-ferrum-9t
                                          active:bg-ferrum-8t;}
.button.variant--light .helpText { @apply
                                          text-ferrum-3t;}
.button.variant--light.selected--true { @apply
                                          text-ferrum-4t
                                          bg-ferrum-5s
                                          hover:bg-ferrum-4s
                                          active:bg-ferrum-3s;}
.button.variant--light.selected--true .helpText { @apply
                                          text-ferrum-6t;}

/* transparent */
.button.variant--transparent { @apply
                                          text-ferrum-2t
                                          bg-transparent
                                          hover:bg-ferrum-1s
                                          active:bg-ferrum;}
.button.variant--transparent .helpText { @apply
                                          text-ferrum-4t;}
.button.variant--transparent.selected--true { @apply
                                          text-ferrum-2t
                                          bg-ferrum-9t
                                          hover:bg-ferrum-8t
                                          active:bg-ferrum-7t;}
.button.variant--transparent.selected--true .helpText { @apply
                                          text-ferrum-4t;}