@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "./reset.scss";

:root {

   // Color

   --color-d9: #18181B;
   --color-d8: #27272A;
   --color-d7: #3F3F46;
   --color-d6: #52525B;
   --color-d5: #71717A;
   --color-d4: #A1A1AA;
   --color-d3: #D4D4D8;
   --color-d2: #E4E4E7;
   --color-d1: #F4F4F5;
   --color-d0: #FAFAFA;

   --color-b9: #030F32;
   --color-b8: #00289F;
   --color-b7: #1146E8;
   --color-b6: #3161F7;
   --color-b5: #587FF6;
   --color-b4: #7595F8;
   --color-b3: #95AEFA;
   --color-b2: #B3C5FC;
   --color-b1: #CFDAFD;
   --color-b0: #EAEFFF;

   --color-white: white;

   // Color Typography

  --color-font-default: var(--color-white);
  --color-font-secondary: var(--color-d2);
  --color-font-tertiary: var(--color-d3);

   // Color Actions

   --color-action-default: var(--color-font-default);
   --color-action-hover: var(--color-font-default);
   --color-action-click: var(--color-font-default);
   --color-action-disabled: var(--color-font-tertiary);
   --color-action-selected: var(--color-b3);

   --color-action-border-default: var(--color-b6);
   --color-action-border-hover: var(--color-b8);
   --color-action-border-click: var(--color-b8);

   // Spacing

   --sp0:           0;
   --sp1:   0.0625rem;
   --sp2:    0.125rem;
   --sp3:   0.1875rem;
   --sp4:     0.25rem;
   --sp8:      0.5rem;
   --sp12:    0.75rem;
   --sp16:       1rem;
   --sp20:    1.25rem;
   --sp24:     1.5rem;
   --sp28:    1.75rem;
   --sp32:       2rem;
   --sp36:    2.25rem;
   --sp40:     2.5rem;
   --sp44:    2.75rem;
   --sp48:       3rem;
   --sp52:    3.25rem;
   --sp56:     3.5rem;
   --sp60:    3.75rem;
   --sp64:       4rem;
   --sp68:    4.25rem;
   --sp72:     4.5rem;
   --sp88:     5.5rem;
   --sp128:      8rem;

   // Border

   --border-radius-1: var(--sp1);
   --border-radius-2: var(--sp2);
   --border-radius-4: var(--sp4);
   --border-radius-8: var(--sp8);
   --border-radius-12: var(--sp12);
   --border-radius-16: var(--sp16);

   // Typograpgy
   
   --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
   --font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
   --font-family-sans: "DM Sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

   --font-weight-thin: 100;
   --font-weight-extralight: 200;
   --font-weight-light: 300;
   --font-weight-regular: 400;
   --font-weight-medium: 500;
   --font-weight-semibold: 600;
   --font-weight-bold: 700;
   --font-weight-extrabold: 800;
   --font-weight-black: 900;

}

/* Typography */

@mixin font-largest {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--sp48);
  line-height: var(--sp60);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}
@mixin font-larger {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--sp36);
  line-height: var(--sp44);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}
@mixin font-large {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--sp28);
  line-height: var(--sp36);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}
@mixin font-default {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--sp20);
  line-height: var(--sp28);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}
@mixin font-small {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-medium);
  font-size: var(--sp16);
  line-height: var(--sp28);
  letter-spacing: 0.02em;
  color: var(--color-font-default);
}
@mixin font-tiny {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--sp12);
  line-height: var(--sp20);
  letter-spacing: 0.03em;
  color: var(--color-font-default);
}
@mixin font-body($weight) {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-#{$weight});
  font-size: var(--sp16);
  line-height: var(--sp24);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}
@mixin font-body-small($weight) {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-#{$weight});
  font-size: var(--sp12);
  line-height: var(--sp20);
  letter-spacing: 0.02em;
  color: var(--color-font-default);
}
@mixin font-caption {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-style: italic;
  font-size: var(--sp12);
  line-height: var(--sp20);
  letter-spacing: 0.01em;
  color: var(--color-font-default);
}