@import "../../css/vars.scss";

.tooltip {
   border: solid var(--sp1) var(--color-d7);
   border-radius: var(--border-radius-4);
   @include font-body-small(bold);
   color: var(--color-d1);
   padding: var(--sp4) var(--sp8);
}

.tooltip .helpText {
   @include font-body-small(medium);
   color: var(--color-d4);
}