@import "../../css/vars.scss";

.stack {
   display: flex;
   align-items: flex-start;
   width: fit-content;
   height: fit-content;
}
.stack.vertical {
   flex-direction: column;
}
.stack.widthFull {
   width: 100%;
}
.stack.heightFull {
   height: 100%;
}

.stack.alignItems--center {         align-items: center;}
.stack.alignItems--flex-start {     align-items: flex-start;}
.stack.alignItems--flex-end {       align-items: flex-end;}
.stack.alignItems--stretch {        align-items: stretch;}
.stack.alignItems--baseline {       align-items: baseline;}

.stack.border--none {               border-style: none;}
.stack.border--all {                border-style: solid;}
.stack.border--top {                border-top-style: solid;}
.stack.border--bottom {             border-bottom-style: solid;}
.stack.border--left {               border-left-style: solid;}
.stack.border--right {              border-right-style: solid;}
.stack.border--x {                  border-left-style: solid;
                                    border-right-style: solid;}
.stack.border--y {                  border-top-style: solid;
                                    border-bottom-style: solid;}
   
.stack.style--blank {
   gap: var(--sp0);
   padding: var(--sp0);
   border-radius: 0;
   background-color: transparent;
   border-color: transparent;
   border-width: var(--sp0);
   border-style: none;
}
.stack.style--box {
   /* margin: calc(var(--sp1)/-2); */
   /* box-sizing: border-box; */
   gap: var(--sp4);
   padding: var(--sp8);
   border-radius: 0;
   background-color: var(--color-d8);
   border-color: var(--color-d7);
   border-width: var(--sp1);
}
.stack.style--board {
   gap: var(--sp4);
   padding: var(--sp4);
   border-radius: var(--border-radius-8);
   background-color: var(--color-d9);
   border-color: transparent;
   border-width: var(--sp0);
   border: none;
}