@import "../../css/vars.scss";

.stack {
   display: flex;
   align-items: flex-start;
   width: fit-content;
   height: fit-content;
}
.stack.vertical {
   flex-direction: column;
}
.stack.widthFull {
   width: 100%;
}
.stack.heightFull {
   height: 100%;
}

.stack.style--blank {
   gap: var(--sp0);
   padding: var(--sp0);
   border-radius: 0;
   background-color: transparent;
   border: none;
}
.stack.style--box {
   margin: calc(var(--sp1)/-2);
   box-sizing: border-box;
   gap: var(--sp4);
   padding: var(--sp8);
   border-radius: 0;
   background-color: var(--color-d8);
   border: solid var(--sp1) var(--color-d7);
}
.stack.style--board {
   gap: var(--sp4);
   padding: var(--sp4);
   border-radius: var(--border-radius-8);
   background-color: var(--color-d9);
   border: none;
}